*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.givenclass
{
    text-decoration: line-through;
    pointer-events: none;
}
.Todo{
    /* width: 300px; */
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 40vh; */
    margin-top: 3rem;
}