*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.vinay{
    width: 28vw;
    border: 1px solid rgb(244, 222, 222);
    margin: 1rem;
    padding-left: 0.5rem;
}
.vinay img{
    width: 250px;
    height: 200px;
}